<% if @name == ''%>
  <% @name = 'Player' %>
<% end %>
<h1><%= @name %> chosen:</h1>
<h1><%= @shape %></h1>
<div style="text-align:left ">
  <h1>PC chosen:</h1>
  <h1 ><%= @AI_shape %></h1>
</div>

<div >
  <%= @result %>
</div>

<div >
  PC score :<%= @pc_score %>
</div>
<div >
  <%= @name %> score :<%= @player_score %>
</div>
<div id="buttons">
  <a href="/play"><button>PLAY AGAIN</button></a>
  <a href="/"><button>RESET</button></a>
</div>
