<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
        background-image: url('http://i.imgur.com/NStBJ.png');
        max-width: 100%;
        background-repeat: no-repeat;
        background-size: 1550px 800px;
      }

      #player{
        text-align: center;
        position: relative;
        left: -180px;
      }
      #pc{
        text-align: center;
        position: relative;
        top: -175px;
        left: 190px;
      }

      #result{
        position: relative;
        top: -150px;
        text-align: center;
        font-size: 50px;
      }

      #buttons{
        text-align: center;
        position: relative;
        top: -100px;
        padding: 20px;
      }

      #button{
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
      }
    </style>
    <meta charset="utf-8">
    <title>Rock | Paper | Scissors</title>
  </head>
  <body>
    <% if @name == ''%>
      <% @name = 'Player' %>
    <% end %>
    <div id="player">
      <h1><%= @name %> chose:</h1>
      <h1><%= @shape %></h1>
      <h1> score : <%= @player_score %></h1>
    </div>
    <div id="pc">
      <h1>PC chose:</h1>
      <h1 ><%= @ai_shape %></h1>
      <h1> PC_score : <%= @pc_score %></h1>
    </div>
    <div id="result" >
      <%= @result %>
    </div>
    <div id="buttons">
      <a href="/play"><button id="button">PLAY AGAIN</button></a>
      <a href="/"><button id="button">RESET</button></a>
    </div>
  </body>
</html>
